@charset "UTF-8";
$primary-color:#7AC8D5;
$primary-font: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
p {
  padding: 10px 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

nav {
  > ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    > li {
      display: table-cell;
      padding-right: 1px;
      height: auto;
      vertical-align: top;
    }
  }
  a {
    display: block;
    min-height: 100%;
    padding: 4px 10px;
    height: 100px;
  }
}

#hover-content-settings {
  display: none;
}

#settings {
  position: absolute;
  background-color: #FFFFFF;
  &:hover {
    background-color: $primary-color;
    width: 200px;
    transition: background-color 500ms linear;
    #hover-content-settings {
      display: block;
      float: left;
      padding-left: 10px;
      margin-left: -10px;
      width: 200px;
    }
  }
}

#settings li {
  padding-top: 70px;
  font-family: $primary-font;
  font-size: 22px;
}

#hover-content-chat {
  display: none;
  a {
    text-decoration: none;
    color: #333;
  }
}

#chat {
  position: absolute;
  background-color: #FFFFFF;
  right: 0;
  &:hover {
    background-color: $primary-color;
    width: 200px;
    transition: background-color 500ms linear;
    #hover-content-chat {
      display: block;
      float: right;
      width: 200px;
    }
  }
}

#chat li {
  padding-top: 20px;
  height: 50px;
  font-family: $primary-font;
  font-size: 22px;
}

#left-aside, #right-aside {
  display: none;
  font-family: $primary-font;
  font-size: 22px;
}

#left-aside li, #right-aside li {
  padding: 20px;
}

#left-aside a, #right-aside a, #settings a {
  text-decoration: none;
  color: #333;
}

#left-aside li:hover, #right-aside li:hover, #settings li:hover, #chat li:hover {
  background-color: #4159A8;
}

.green {
  color: green;
}

.red {
  color: red;
}

.left {
  float: left;
  padding: 30px 20px;
}

.right {
  float: right;
  padding: 30px 20px;
}

h1 {
  font-size: 32px;
  padding: 20px 0;
}

#snapshot {
  text-align: center;
  padding: 10px 0;
  border: 1px $primary-color solid;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: #333333;
  font-family: $primary-font;
  li {
    display: inline;
    img {
      padding: 10px;
      margin: 0 20px;
      border: 1px $primary-color solid;
    }
  }
  img {
    border: 3px $primary-color solid;
    border-radius: 100%;
    &:hover {
      background-color: #4159A8;
    }
  }
}

#icons img:hover {
  background-color: #4159A8;
}

body:active  {
  background-color: #000000;
}

#top-images {
  text-align: center;
  margin-top: 20px;
  li {
    display: inline;
    margin: 0 5px;
  }
  img {
    border: 2px $primary-color solid;
    border-radius: 100%;
  }
}

#icons {
  margin-top: 20px;
  text-align: center;
  li {
    display: inline;
  }
  img {
    border: 1px $primary-color solid;
    border-radius: 100%;
    padding: 10px;
  }
}

#top-images {
  .move-right:hover {
    transform: scale(4, 4) translate(20px, 0px);
  }
  .move-left:hover {
    transform: scale(4, 4) translate(-20px, 0px);
  }
  img:hover {
    transform: scale(4, 4);
  }
}

h2 {
  font-size: 28px;
  padding: 20px 0;
}

#profile {
  color: #333333;
  font-family: $primary-font;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  a {
    color: $primary-color;
  }
}

#images {
  text-align: center;
  color: #333333;
  font-family: $primary-font;
  img {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
  }
}

#to-top {
  text-align: center;
}

.bounce {
  position: relative;
  margin: 0 auto;
  &:hover {
    animation: bounce 1s infinite;
  }
  img {
    margin-top: 30px;
    opacity: 0.5;
  }
}

footer {
  height: 40px;
  background-color: $primary-color;
  text-align: right;
  margin-top: 20px;
  h6 {
    padding: 10px 10px 0 0;
    color: #333333;
    font-family: $primary-font;
  }
}

@-webkit-keyframes bounce {
  0% {
    bottom: 15px;
  }

  25%, 75% {
    bottom: 20px;
  }

  50% {
    bottom: 25px;
  }

  100% {
    bottom: 10px;
  }
}


@media screen and (min-width: 1200px) {
  #images {
    width: 600px;
    margin: 0 auto;
  }
  .left, .right {
    display: none;
  }
  #left-aside {
    width: 250px;
    height: 100%;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    display: block;
  }
  #right-aside {
    width: 250px;
    height: 100%;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    right: 0;
    display: block;
  }
  #settings, #chat {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  #snapshot {
    max-width: 350px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */